*:focus {
  outline: 0;
}

.big_panel {
  width: 200px;
  height : 200px;
  display: inline-block;
  overflow: hidden; 
}

.small_panel {
  width: 100px;
  height : 100px;
  display: inline-block;
  overflow: hidden; 
}

.big4x_panel {
  width: 400px;
  height : 400px;
  display: inline-block;
  overflow: hidden; 
}

.halfV_panel {
  width: 100px;
  height : 200px;
  display: inline-block;
  overflow: hidden; 
}

.xtrainstrument {
  padding: 0px 0px;
  border: solid thin #282828;
  position: relative;
  top: 6px;
  left: 6px;
  background: #0d0d0d;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #7c7c7c;
  display: inline-block;  
}

.small_instrument {
  width: 86px;
  height: 86px;
}

.big_instrument {
  width: 186px;
  height: 186px;
}

.big4x_instrument {
  width: 386px;
  height: 386px;
}

.halfV_instrument {
  width: 86px;
  height: 186px;
}

.small_instrument_label {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 86px;
  color: white;
}

.big_instrument_label {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 186px;
  color: white;
}

.stateinfo_up {
  width: 160px;
  height: 80px;
  position: relative;
  top: 3px;
  left: 3px;
  margin: 10px;
  border-radius: 20px;
  font-size: 36px;
}

.stateinfo_down {
  width: 160px;
  height: 80px;
  position: relative;
  left: 3px;
  bottom: 3px;
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.armed_state {
  background: repeating-linear-gradient(
    45deg,
    yellow, yellow 10px, red 10px, red 20px
  );
  color: #222222;
  text-shadow:0px 0px 3px #fff;
  border-color: yellow;
}

.disarmed_state {
  background-color: limegreen;
  color: white;
  text-shadow:0px 0px 3px #fff;
  border-color: white;
}

#map {
  width: 366px;
  height: 366px;
  left: 10px;
  top: 10px;
}

.button_instrument_b {
  border-radius: 50%;
  vertical-align: middle;
  height: 56px;
  width: 56px;
  box-shadow: inset 0 0 0 3px #8ab4f8;
  background-color: silver;
  color: #232323;
  position: relative;
  top: 8px;
  left: 16px;
}

.button_instrument_on {
  box-shadow: inset 0 0 0 3px lime;
}

.button_instrument_off {
  box-shadow: inset 0 0 0 3px #e40000;
}

.battery_icon {
  top: 10px;
  left: 23px;
  width: 40px;
  border: solid thin #FFF;
  position: relative;
  background: #0d0d0d;
}

.battery_icon:after {
  content: " ";
  top: -5px;
  right: 15px;
  height: 5px;
  width: 8px;
  position: absolute;
  background: #FFF;
}

.battery_bar {
  display: inline-block;
  width: 0;
  border: solid thin rgba(255, 255, 255, .1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  height: 0px;
  background: transparent;
  transition: background 1s;
  position: relative;
  left: 2px;
  top: 2px;
}

.battery_bar.active {
  background: limegreen;
}

.battery_perc {
  text-align: center;
  color: white;
  position: relative;
  bottom: -16px;
}

.battery_volt {
  text-align: center;
  color: white;
  position: relative;
  bottom: -18px;
}

.vslider {
  border-radius: 5px;
  background: #232323;
  height: 156px;
  width: 15px;
  top: 10px;
  left: 36px;
  position: relative;
}

.vslider_dot {
  border-radius: 50%;
  background: silver;
  width: 42px;
  height: 42px;
  position: relative;
  bottom: 73px;
  left: 23px;
  box-shadow: inset 0 0 2px 1px #7c7c7c;
  text-align: center;
  line-height: 2.5;
  user-select: none;
}

.html_instrument {
  color: white;
}