.thrust_panel {
  width: 200px;
  height : 200px;
  display: inline-block;
  overflow: hidden; 
}

.thrust {
  padding: 0px 0px;
  width: 186px;
  height : 186px;
  border: solid thin #FFF;
  position: relative;
  top: 6px;
  left: 6px;
  background: #0d0d0d;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #7c7c7c;
  display: inline-block;
  transform: rotate(270deg);
}

.thrust_bar {
  width: 142px;
  height: 26px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 19px;
  margin-left: 30px;
  margin-right: 10px;
}

.thrust_nums {
  position: relative;
  bottom: 20px;
  left: 9px;
  height: 20px;
  width: 182px;
  color: white;
  display: inline-flex;
}